mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
    width: 100px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.slogan {
  margin-left: 12px;
  font-size: 1rem;
  font-style: italic;
  color: rgba(179, 14, 14, 0.8);
  white-space: nowrap;
}

.header-menu {
    display: flex;
}

.active-link {
    background: color-mix(in srgb,var(--mat-sys-primary) 10%,transparent);
}