/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success_t {
    color: #28A745;
}

.primary_t {
    color: #F44336;
}

.danger_t {
    color: #DE3E44;
}

.success_b {
    background-color: #28A745;
}

.primary_b {
    color: #F44336;
}

.danger_b {
    background-color: #DE3E44;
}